.header{
    max-width: 500px;
    min-height: 150px;
    background-color: rgb(255, 194, 230);
    border: 1px solid black;
    }

    .header1{
        max-width: 500px;
        min-height: 150px;
        background-color: rgb(194, 241, 255);
        border: 1px solid black;
        }
.header2{
 max-width: 500px;
min-height: 100px;
max-height: 250px;
background-color: rgb(204, 255, 194);
 border: 1px solid black;
}
 