$colorSelectSite: #bda8ff;
$widthSite: 1140px;
$backBlock:#8975C7;
.a {
    text-decoration: none;
}

.center{
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}
.top-head__heading {
position: absolute;
width: 2592.27px;
height: 105px;
left: 16.14px;
top: 109.59px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 85.9316px;
line-height: 105px;
font-weight: 400;
font-size: 24px;
line-height: 29px ;
color: $colorSelectSite;
}

.header{
background-color: $backBlock;
padding-top: 20px;
padding-bottom: 20px;
}
.breadcrumbs__link{
 font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.breadcrumbs__link__site{
font-weight: 700;
 color: #bda8ff;
}

.product{
width: 826.57px;
.product__content{

width: 636.61px;
background-color:#898989;
}
}

.breadcrumbs{
    position: absolute;
width: 2592.27px;
height: 105px;
left: 16.14px;
top: 109.59px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 85.9316px;
line-height: 105px;
font-weight: 400;
font-size: 24px;
line-height: 29px ;
color: $colorSelectSite;
 font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}